<html>
  <head>
    <style>
      .image { width: 250px; float: left; margin: 20px; } body { font-family:
      sans-serif; font-size: small; line-height: 1.4; } p { margin: 0; }
      .performance-facts { border: 1px solid black; margin: 20px; float: left;
      width: 280px; padding: 0.5rem; } .performance-facts table {
      border-collapse: collapse; } .performance-facts__title { font-weight:
      bold; font-size: 2rem; margin: 0 0 0.25rem 0; } .performance-facts__header
      { border-bottom: 10px solid black; padding: 0 0 0.25rem 0; margin: 0 0
      0.5rem 0; } .performance-facts__header p { margin: 0; }
      .performance-facts__table, .performance-facts__table--small,
      .performance-facts__table--grid { width: 100%; } .performance-facts__table
      thead tr th, .performance-facts__table--small thead tr th,
      .performance-facts__table--grid thead tr th, .performance-facts__table
      thead tr td, .performance-facts__table--small thead tr td,
      .performance-facts__table--grid thead tr td { border: 0; }
      .performance-facts__table th, .performance-facts__table--small th,
      .performance-facts__table--grid th, .performance-facts__table td,
      .performance-facts__table--small td, .performance-facts__table--grid td {
      font-weight: normal; text-align: left; padding: 0.25rem 0; border-top: 1px
      solid black; white-space: nowrap; } .performance-facts__table
      td:last-child, .performance-facts__table--small td:last-child,
      .performance-facts__table--grid td:last-child { text-align: right; }
      .performance-facts__table .blank-cell, .performance-facts__table--small
      .blank-cell, .performance-facts__table--grid .blank-cell { width: 1rem;
      border-top: 0; } .performance-facts__table .thick-row th,
      .performance-facts__table--small .thick-row th,
      .performance-facts__table--grid .thick-row th, .performance-facts__table
      .thick-row td, .performance-facts__table--small .thick-row td,
      .performance-facts__table--grid .thick-row td { border-top-width: 5px; }
      .small-info { font-size: 0.7rem; } .performance-facts__table--small {
      border-bottom: 1px solid #999; margin: 0 0 0.5rem 0; }
      .performance-facts__table--small thead tr { border-bottom: 1px solid
      black; } .performance-facts__table--small td:last-child { text-align:
      left; } .performance-facts__table--small th,
      .performance-facts__table--small td { border: 0; padding: 0; }
      .performance-facts__table--grid { margin: 0 0 0.5rem 0; }
      .performance-facts__table--grid td:last-child { text-align: left; }
      .performance-facts__table--grid td:last-child::before { content: "•";
      font-weight: bold; margin: 0 0.25rem 0 0; } .text-center { text-align:
      center; } .thick-end { border-bottom: 10px solid black; } .thin-end {
      border-bottom: 1px solid black; }

    </style>
  </head>

  <body>
    <section class='performance-facts'>
      <header class='performance-facts__header'>
        <h1 class='performance-facts__title'>Nutrition Facts</h1>
        <p>
          {{nutritionTableData.servingSize.label}}
          {{nutritionTableData.servingSize.value}}
          {{nutritionTableData.servingSize.unit}}
        </p>
        <p>Serving Per Container 8</p>
      </header>
      <table class='performance-facts__table'>
        <thead>
          <tr>
            <th
              colspan='3'
              class='small-info'
            >{{nutritionTableData.labels.amountPerLabel}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.calories.label}}</b>
              {{nutritionTableData.calories.value}}
              {{nutritionTableData.servingSize.unit}}
            </th>
            <td></td>
          </tr>
          <tr class='thick-row'>
            <td colspan='3' class='small-info'>
              <b>% Daily Value*</b>
            </td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.fatContent.label}}</b>
              {{nutritionTableData.fatContent.value}}{{nutritionTableData.fatContent.unit}}
            </th>
            <td>
              <b>22%</b>
            </td>
          </tr>
          <tr>
            <td class='blank-cell'></td>
            <th>{{nutritionTableData.saturatedFatContent.label}}
              {{nutritionTableData.saturatedFatContent.value}}{{nutritionTableData.saturatedFatContent.unit}}</th>
            <td>
              <b>22%</b>
            </td>
          </tr>
          <tr>
            <td class='blank-cell'></td>
            <th>{{nutritionTableData.transFatContent.label}}
              {{nutritionTableData.transFatContent.value}}{{nutritionTableData.transFatContent.unit}}</th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.cholesterolContent.label}}</b>
              {{nutritionTableData.cholesterolContent.value}}{{nutritionTableData.cholesterolContent.unit}}
            </th>
            <td>
              <b>18%</b>
            </td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.sodiumContent.label}}</b>
              {{nutritionTableData.sodiumContent.value}}{{nutritionTableData.sodiumContent.unit}}
            </th>
            <td>
              <b>2%</b>
            </td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.carbohydrateContent.label}}</b>
              {{nutritionTableData.carbohydrateContent.value}}{{nutritionTableData.carbohydrateContent.unit}}
            </th>
            <td>
              <b>6%</b>
            </td>
          </tr>
          <tr>
            <td class='blank-cell'></td>
            <th>{{nutritionTableData.fiberContent.label}}
              {{nutritionTableData.fiberContent.value}}{{nutritionTableData.fiberContent.unit}}</th>
            <td>
              <b>4%</b>
            </td>
          </tr>
          <tr>
            <td class='blank-cell'></td>
            <th>{{nutritionTableData.sugarContent.label}}
              {{nutritionTableData.sugarContent.value}}{{nutritionTableData.sugarContent.unit}}</th>
            <td></td>
          </tr>
          <tr class='thick-end'>
            <th colspan='2'>
              <b>{{nutritionTableData.proteinContent.label}}</b>
              {{nutritionTableData.proteinContent.value}}{{nutritionTableData.proteinContent.unit}}
            </th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class='performance-facts__table'>
        <tbody>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.vitaminD.label}}</b>
              {{nutritionTableData.vitaminD.value}}
              {{nutritionTableData.vitaminD.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.vitaminC.label}}</b>
              {{nutritionTableData.vitaminC.value}}
              {{nutritionTableData.vitaminC.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.vitaminB6.label}}</b>
              {{nutritionTableData.vitaminB6.value}}
              {{nutritionTableData.vitaminB6.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.magnesium.label}}</b>
              {{nutritionTableData.magnesium.value}}
              {{nutritionTableData.magnesium.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.iron.label}}</b>
              {{nutritionTableData.iron.value}}
              {{nutritionTableData.iron.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.calcium.label}}</b>
              {{nutritionTableData.calcium.value}}
              {{nutritionTableData.calcium.unit}}
            </th>
            <td></td>
          </tr>
          <tr>
            <th colspan='2'>
              <b>{{nutritionTableData.potassium.label}}</b>
              {{nutritionTableData.potassium.value}}
              {{nutritionTableData.potassium.unit}}
            </th>
            <td></td>
          </tr>
        </tbody>
      </table>
      <!--
      <p class="small-info">
        * Percent Daily Values are based on a 2,000 calorie diet. Your daily
        values may be higher or lower depending on your calorie needs:
      </p>

      <table class="performance-facts__table--small small-info">
        <thead>
          <tr>
            <td colspan="2"></td>
            <th>Calories:</th>
            <th>2,000</th>
            <th>2,500</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">Total Fat</th>
            <td>Less than</td>
            <td>65g</td>
            <td>80g</td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th>Saturated Fat</th>
            <td>Less than</td>
            <td>20g</td>
            <td>25g</td>
          </tr>
          <tr>
            <th colspan="2">Cholesterol</th>
            <td>Less than</td>
            <td>300mg</td>
            <td>300 mg</td>
          </tr>
          <tr>
            <th colspan="2">Sodium</th>
            <td>Less than</td>
            <td>2,400mg</td>
            <td>2,400mg</td>
          </tr>
          <tr>
            <th colspan="3">Total Carbohydrate</th>
            <td>300g</td>
            <td>375g</td>
          </tr>
          <tr>
            <td class="blank-cell"></td>
            <th colspan="2">Dietary Fiber</th>
            <td>25g</td>
            <td>30g</td>
          </tr>
        </tbody>
      </table>

      <p class="small-info">Calories per gram:</p>
      <p class="small-info text-center">
        Fat 9 &bull; Carbohydrate 4 &bull; Protein 4
      </p> -->
    </section>
  </body>
</html>